<!DOCTYPE html>
<html>
  <head>
    <title>TheGossipProjectViews</title>
  </head>

  <body>

    <% Gossip.all.each do |gossip| %>
  <p>
    <%= gossip.user.first_name %><br/>
    <%= gossip.title %><br/>

    Id: <%= link_to gossip.id, gossip_path(:id => gossip.id) %>
  </p>
<% end %>

<!-- MAIN BODY -->
  <section id="gossip-section" class="py-4 mb-5" style="margin-top: 50px">
    <div class="container mt-2">
    <h1>Welcome <%= @first_name %> </h1>

    <h4 class="mb-5 mt-3">Voici la liste de potins de tous moussaillons at THP</h4>
    <% Gossip.all.each do |gossip|%>
        <div class="row mb-3">
            <div class="col-md-12">
              <div class="card p-2">
              <div class="card-heading d-flex">
                  <div class="pull-left d-flex author">
                    <div class="pull-left mr-2">
                        <img src="http://bootdey.com/img/Content/user_1.jpg" class="rounded-circle img-fluid" alt="user profile image" style="height:40px;width:40px">
                    </div>
                    <div class=" pt-1" style="positon: relative">
            
                        <a class="h5" href="/author/<%= gossip.user.first_name %>/"><b><%= gossip.user.first_name %></b></a><br>
                        <small class="text-muted" style="margin-top:-1px;position:absolute"><sup><%= gossip.created_at %></sup></small>
                    </div>
                  </div>
                  <div class="ml-auto d-flex">
                    <div>
                    
                      <a  href="/gossips/<%=gossip.id%>/edit/"%>
                        <i class="fas fa-edit mr-2 text-info"></i>
                      </a>
                    </div>

                    <div>
                      <form action="/gossips/<%=gossip.id %>/" method="POST">
                        <button type="submit" class="btn p-0"><i class="fas fa-trash text-danger"></i></button>
                      </form>
                    </div>

                  </div>
                  
              </div> 
                <div class="card-body m-0 px-0 pt-3 pb-0 "> 
                <%= link_to gossip.id.to_s + "-" +gossip.title, gossip_path(:id => gossip.id) %>
                </div>
                <div class="card-footer m-0 p-0">
                  <div style="cursor: pointer">
                    <a href="/gossips/<%=gossip.id %>/">
                      <i class="far fa-comment"> Read Comments</i>
                    </a>
                  </div>
                </div>

              </div>
            </div>
          </div>
    <%end%>
    </div>
  </section>




  </body>
</html>
